<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'GetStartedAccordion',
  props: {
    data: {
      required: true,
      type: Object,
    },
    itemIndex: {
      type: Number,
      required: true,
    },
  },
  computed: {
    accordionID() {
      return this.data.title.toLowerCase().split(' ').join('-');
    },
  },
  methods: {
    toggleAccordion() {
      this.$emit('toggleController');
    },
    beforeEnter(el) {
      el.style.height = '0';
    },
    enter(el) {
      el.style.height = `${el.scrollHeight + 32}px`;
    },
    beforeLeave(el) {
      el.style.height = `${el.scrollHeight + 32}px`;
    },
    leave(el) {
      el.style.height = '0';
    },
  },
});
</script>

<template>
  <div class="get-started-accordion">
    <SlpTypography
      tag="h5"
      variant="heading5"
      class="get-started-accordion__summary"
    >
      <button
        :id="`${accordionID}-id`"
        class="get-started-accordion__summary__button"
        :aria-expanded="data.expanded"
        :aria-controls="`${accordionID}-section`"
        @click="toggleAccordion"
      >
        <span class="get-started-accordion__summary__text">
          <span class="slp-mr-8">{{ itemIndex + 1 }}.</span>
          <span class="accordion__header">{{ data.title }}</span>
        </span>
        <span
          class="get-started-accordion__icon"
          :class="{ 'get-started-accordion__icon--open': data.expanded }"
        ></span>
      </button>
    </SlpTypography>
    <transition
      name="accordion"
      @before-enter="beforeEnter"
      @enter="enter"
      @before-leave="beforeLeave"
      @leave="leave"
    >
      <div
        v-show="data.expanded"
        :id="`${accordionID}-section`"
        class="get-started-accordion__container"
        role="region"
        :aria-labelledby="`${accordionID}-id`"
      >
        <div
          v-for="(copy, index) in data.copies"
          :key="`${copy.title}-${index}`"
          class="get-started-accordion__copy"
          :class="{ 'slp-mb-8': !copy.link }"
        >
          <SlpTypography tag="h5" variant="body2-bold" class="slp-mb-8"
            >{{ copy.title }}
          </SlpTypography>
          <SlpTypography
            tag="div"
            variant="body-2"
            class="get-started-accordion__copy__text"
          >
            <div v-html="copy.text" />
          </SlpTypography>
          <SlpButton
            v-if="copy.link"
            :href="copy.link.href"
            class="get-started-accordion__link slp-color-primary-200"
            variant="ghost"
            :data-ga-name="copy.link.ga_name || 'learn more'"
            :data-ga-location="copy.link.ga_location || 'steps'"
          >
            <SlpTypography tag="span" variant="body2-bold"
              >{{ copy.link.text || 'Learn more' }}
            </SlpTypography>
            <SlpIcon
              class="slp-ml-8"
              name="chevron-lg-right"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </div>
      </div>
    </transition>
  </div>
</template>

<style scoped lang="scss">
.get-started-accordion {
  color: $color-text-300;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &__container {
    transition: 0.3s ease-out;
  }

  &__summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-16 0;
    border-top: 1px solid $color-surface-300;

    &__button {
      border: 0;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 100%;
      align-items: center;
      font-weight: $font-weight-bold;
      color: $color-primary-200;
    }

    &__text {
      display: flex;
      text-align: left;
      max-width: 80%;
    }
  }

  &__copy {
    margin-top: $spacing-48;
    &:first-of-type {
      margin-top: $spacing-32;
    }

    &__text {
      margin-bottom: 24px;

      &:deep p {
        margin-bottom: 8px;
      }
    }
  }

  &__link {
    padding: 0;

    &:deep .slp-icon {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    height: 18px;
    width: 18px;
    position: relative;
    transition: transform 0.4s ease-in-out;
    margin-left: $spacing-4;

    &--open {
      transform: rotate(90deg);

      &:after {
        opacity: 0;
      }
    }

    &:before,
    &:after {
      content: '';
      background-color: black;
      position: absolute;
      display: block;
    }

    &:before {
      height: 18px;
      width: 2px;
      left: 50%;
    }

    &:after {
      height: 18px;
      width: 2px;
      transform: rotate(-90deg);
      top: 50%;
      transform-origin: top;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
</style>
