<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'TenHero',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div class="hero">
    <div class="hero__text">
      <SlpTypgoraphy v-if="data.overline_text" tag="p" variant="heading5">{{
        data.overline_text
      }}</SlpTypgoraphy>
      <SlpTypography tag="h1" variant="heading1">{{
        data.big_text
      }}</SlpTypography>
      <SlpTypography tag="p" variant="heading4">{{
        data.subcopy
      }}</SlpTypography>
    </div>
    <div class="hero__image__container">
      <nuxt-img
        class="hero__image"
        :src="data.image"
        :alt="data.image_alt_text"
        loading="lazy"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hero {
  color: #404040;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 64px auto;
  max-width: 100%;

  @media (min-width: $breakpoint-lg) {
    margin-bottom: 132px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1140px;
  }
}

.hero__text {
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: $breakpoint-lg) {
    grid-column-end: 6;
  }

  p {
    margin-bottom: 24px;
    @media (min-width: $breakpoint-lg) {
      font-size: 24px;
    }
  }

  h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 24px;
    @media (min-width: $breakpoint-lg) {
      font-size: 100px;
      margin-bottom: 32px;
    }
  }

  a {
    margin-bottom: 24px;
  }
}

.hero__image__container {
  grid-column-start: 1;
  grid-column-end: -1;

  .hero_image {
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: $breakpoint-md) {
    align-items: flex-start;
    display: flex;
    grid-column-start: 6;
    grid-column-end: 11;
    justify-content: center;
    width: 100%;
  }
}
</style>
