<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <div class="copy-group-container" :class="data.variant">
    <div
      v-for="(group, index) in data.groups"
      :key="`${group.text}-${index}`"
      class="group"
    >
      <SlpTypography v-if="group.highlight" tag="h5" variant="body1-bold">
        {{ group.highlight }}
      </SlpTypography>
      <SlpTypography
        v-for="copy in group.blocks"
        :key="copy.text"
        class="copy"
        tag="div"
        variant="body1"
      >
        {{ copy.text }}
        <span v-if="copy.arrow_icon" class="copy-arrow"> ↓ </span>
      </SlpTypography>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.copy-group-container {
  display: flex;
  margin-bottom: $spacing-96;
  .copy {
    margin-bottom: $spacing-32;
    .copy-arrow {
      color: #a989f5;
    }
  }
  @media (min-width: $breakpoint-lg) {
    .group {
      width: 500px;
    }
    .group:nth-child(odd) {
      margin-right: $spacing-64;
    }
  }
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    .group {
      margin-bottom: $spacing-16;
    }
  }
  &.light {
    color: $color-surface-900;
  }
}
</style>
